body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(193, 193, 243);
}
div {
  padding-bottom: 2cm;
}
h1 {
  padding: 1cm;
}
h2{
  padding: 1cm;
  font-size: xx-large;
}
p {
  padding: 1cm;
  font-size: larger;
}
input{
  margin-left: 1cm;
  width: 1cm;
  padding: 5px;
}
.comment {
  width: 3cm;
}
.start {
  margin-left: 1cm;
}
button {
  background-color: #3a84fa;
  font-size: 15px;
  border-radius: 4px;
  padding: 5px;
}